@import "base";

.content6 {
  padding-top: 120px;
  padding-bottom: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 30px;
  }

  .desc1 {
    text-align: center;
    color: #BCBCBC;
    font-size: 24px;
    margin-bottom: 40px;
  }

  p{
    width: 1150px;
    text-align: left;
    max-width: 80%;
    line-height: 48px;
  }
}

.slider-page6{
  width: 600px;
  max-width: 80%;
  margin: 40px auto;

  img{
    width: 100%;
  }
}

.nav{
  margin-top: 50px !important;
  display: flex;
  justify-content: center;

  .button{
    height: 57px;
    width: 57px;
    background: #DADADA !important;
    border-radius: 50% !important;
    color: #fff;
    margin-right: 30px !important;
    transition: all ease .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
      background: #409EFF !important;
    }

    i{
      color: #fff !important;
      font-size: 22px;
    }
  }

}

@media only screen and  (max-width: 1200px) {
  .container{
    max-width: 90%;

  }
}



@media only screen and (max-width: 1024px) {



}

@media only screen and (max-width: 768px) {
  .content6{
    padding-bottom: 75px;
  }
}


@media only screen and (max-width: 480px) {
  .content6 {
    padding-bottom: 65px;

    h2 {
      font-size: 24px;
    }

    p{
      max-width: 100%;
      line-height: 38px;
    }

    .slider-page6{
      max-width: 90%;
    }
  }
}


